/* ! Utility */
*,
*:before,
*:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

:root {
    --blue: #3161e0;
    --black: #23272a;
    --white: #ffffff;
    --bluetto: #7289da;
    --hover: #5865f3;
    --hover-black: #36393f;
    --hover-lilla: #7983f5;
    --lightgray: #f6f6f6;
    --black-login: #36393f;
    --gray-p-login: #abacb0;
    --button-login: #5865f2;
    --button-login-hover: #4752c4;
    --anchor-login: #0a9ad3;
    --red: red;
    --input-login: #202225;
}

/* .debug {
    border: 1px solid black;
    min-height: 100px;
} */

/* ! CSS Globale */
body {
    font-family: Helvetica, Arial, sans-serif;
}

header {
    background-color: var(--blue);
    width: 100%;
}

footer {
    width: 100%;
    background-color: var(--black);
    padding-bottom: 50px;
}

li {
    list-style: none;
    color: var(--white);
    text-decoration: none;
}

nav li {
    padding: 20px;
}

li a {
    color: var(--white);
    text-decoration: none;
    font-weight: 50;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 48px;
    color: var(--black);
    font-weight: 800;
}

h3 {
    font-size: 25px;
    color: var(--black);
    font-weight: 800;
}

h4 {
    color: var(--bluetto);
    font-weight: 800; 
}

svg {
    display: block;
}

hr {
    border:  0.1px solid #4a5882;
}

/* ! CSS delle classi singole */
.container {
    width: 1170px;
    margin: 0 auto;
}

.btn {
    display: block;
    background-color: var(--white);
    color: var(--black);
    border-radius: 35px;
    padding: 18px 30px;
    text-decoration: none;
}

.btn:hover {
    color: var(--hover);
    box-shadow: 0 5px 20px rgba(0,0,0,.3);
}

.btn-accedi {
    padding: 13px 13px;
    color: var(--black);
    font-weight: 500;
}

.btn-gray {
    background-color: var(--black);
    color: var(--white);
}

.btn-gray:hover {
    color: var(--white);
    background-color: var(--hover-black);
}

.btn-lilla {
    background-color: #5865f2;
    color: var(--white);
    margin-top: 25px;
}

.btn-lilla:hover, .btn-registrati:hover {
    background-color: var(--hover-lilla);
    color: var(--white);
}

.flexbox {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
}

/* ! CSS dell'header */
header nav.container {
    padding: 10px 0;
}

head nav ul {
    min-width: 500px;
}

.hero {
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 615px;
    padding-top: 150px;
}

.inner-hero {
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
    color: var(--white);
}

.inner-hero p {
    font-size: 20px;
    line-height: 30px;
    padding-top: 40px;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
}

.buttons a {
    margin: 20px;
}

/* ! CSS delle sezioni del Main */

.bg-color {
    background-color: var(--lightgray);
}

.wave {
    color: var(--lightgray);
}

.rotate {
    color: var(--lightgray);
    transform: rotate(180deg);
    padding-bottom: 130px;
    margin-bottom: -70px;
}

.right {
    max-width: 42%;
    padding-left: 90px;
    float: right;
}

.right p {
    font-size: 20px;
    line-height: 30px;
    padding-top: 40px;
    font-weight: 500;    
}

.left {
    max-width: 40%;
    padding-right: 120px;
    float: left;
}

.left p {
    font-size: 20px;
    line-height: 30px;
    padding-top: 40px;
    font-weight: 500;
}

.center {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    padding-bottom: 100px;;
}

.center p {
    font-size: 20px;
    line-height: 30px;
    padding-top: 40px;
    font-weight: 500;
}

.img-star {
    margin-bottom: -10px;
}

/* ! CSS dell Footer */
footer h3 {
    color: var(--bluetto);
    font-size: 30px;
}

.container-footer {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container-right {
    padding-top: 150px;
    padding-bottom: 150px;
}

.section-social {
    width: 30%;
}

.img-ita {
    width: 25px;
    height: 18px;
    margin-top: 15px;
}

.lingua {
    color: var(--white);
    display: flex;
}

.lingua p {
    margin-top: 15px;
    margin-left: 10px;
}

.social {
    color: var(--white);
    margin-top: 20px;
    font-size: 20px;
}

.social i {
    padding-right: 20px;
}

.section-prodotto, .section-compagnia, .section-risorse, .section-norme {
    padding-left: 80px;
}

.container-footer li {
    line-height: 30px;
}

.ultimo-container {
    margin-top: 20px;
}

.btn-registrati {
    background-color: #5865f2;
    color: var(--white);
    padding: 13px 13px;
}


/* ! CSS per la pagine del Login */
#sfondo {
    background-image: url('../img/sfondo.svg');
    background-size: cover;
}

#sfondo h2 {
    font-size: 25px;
    color: var(--white);
}

#sfondo p {
    color: var(--gray-p-login);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* ! CSS per il box con il form */
.box {
    background-color: var(--black-login);
    margin: 0 auto;
    min-height: 440px;
    max-width: 1170px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 30px;
}

/* ! CSS per la prima colonna con il form */
.main-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-left {
    width: 70%;
    height: 100%;
}

.form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.form-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;

}

.form-header h2 {
    padding-bottom: 10px;
}

.box-text {
    padding: 10px;
    border-radius: 3px;
    width: 90%;
    border: none;
    background-color: var(--input-login);
    color: var(--gray-p-login);
    font-size: 16px;
}

input:focus{
    outline: none;
}

label {
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 8px;
    color: var(--gray-p-login);
    font-weight: 500;
}

span {
    color: var(--red);
}

.container-form a {
    color: var(--anchor-login);
    text-decoration: none;
    padding-top: 8px;
    font-size: 13px;
}

.container-form a:hover {
    text-decoration: underline;
}

.container-form p {
    font-size: 13px;
}

#btn-login {
    background-color: var(--button-login);
    color: var(--white);
    border-radius: 5px;
    width: inherit;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    margin: 13px 0;
    font-size: medium;
}

#btn-login:hover {
    background-color: var(--button-login-hover);
    text-decoration: none;
}

/* ! CSS per la colonna con il qr code */
.form-qrcode {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.col-right {
    width: 30%;
    height: 100%;
}

.form-qrcode h2 {
    padding-top: 30px;
    padding-bottom: 15px;
}

.img-qrcode {
    width: 180px;
    height: 180px;
}

.form-qrcode p {
    font-size: 15px;
    line-height: 18px;
}
