*,
*:before,
*:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.debug {
    border: 1px solid black;
    min-height: 100px;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    
}

header {
    background-color: #3161e0;
}

footer {
    background-color: #23272a;
}

li {
    list-style: none;
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
}

li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 50;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 48px;
    color: #23272a;
    font-weight: 800;
}

h3 {
    font-size: 25px;
    color: #23272a;
    font-weight: 800;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.btn {
    display: block;
    background-color: #ffffff;
    color: #23272a;
    border-radius: 35px;
    padding: 18px 30px;
    text-decoration: none;
}

.btn-accedi {
    padding: 13px 13px;
    color: #23272a;
    font-weight: 500;
}

.btn-gray {
    background-color: #23272a;
    color: #ffffff;
}

.btn-lilla {
    background-color: #8ea1e1;
    color: #ffffff;
    margin-top: 25px;
}

.flexbox {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
}

header nav.container {
    padding: 10px 0;
}

head nav ul {
    min-width: 500px;
}

.hero {
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 615px;
    padding-top: 150px;
}

.inner-hero {
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
}

.inner-hero p {
    font-size: 20px;
    line-height: 30px;
    padding-top: 40px;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
}

.buttons a {
    margin: 20px;
}

.container-section {
    padding-top: 130px;
    padding-bottom: 130px;
}

.right {
    max-width: 42%;
    padding-left: 90px;
    float: right;
}

.right p {
    font-size: 20px;
    line-height: 30px;
    padding-top: 40px;
    font-weight: 500;    
}

.left {
    max-width: 40%;
    padding-right: 120px;
    float: left;
}

.left p {
    font-size: 20px;
    line-height: 30px;
    padding-top: 40px;
    font-weight: 500;
}

.center {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
}

.center p {
    font-size: 20px;
    line-height: 30px;
    padding-top: 40px;
    font-weight: 500;
}

.img-star {
    margin-bottom: -10px;
}
